<h1>Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <button class="button" type="submit" value="Submit">Submit</button>
  <% end %>