<div class="section">
  <div class="container" style="align-items:center;">
    <div class="content is-medium form_container" style="text-align:center;">
      <h1 style="text-align:center;">Edit Interview</h1>
      <%= render "form", interview: @interview %>
    </div>
  </div>
</div> 


