<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
  <% all_companies.each do |company|%>
    <tr>
      
      <th>
        <%= link_to company.company_name, "/companies/#{company.id}/apps/new" %>
      </th>
    </tr>
  <% end %>
</table>