<h3> Choose a Company from the list below</h3>

<section class="index-index">
  <%= link_to "Create New Company", '/companies/new' %>
    <div class="apps">
      <%= render "company"%>
    </div>
  </section>