<article class="interview">

<div class='interview-preview'>
<p class="subtitle">Type</p>
<p><%=interview.interview_type%></h3>
<p class="subtitle">Date</p>
<p><%=interview.interview_date%></p>
<%if !interview.completed%>
<p class="subtitle">Completed <%=interview.completed%></p>
<%end%>

</div>

<article>