<article class="interview">

<div class='interview-preview'>
<p class="subtitle">Type</p>
<p><%=interview.interview_type%></h3>
<p class="subtitle">Date</p>
<p><%=interview.interview_date%></p>
<div class="buttons">
          <a class="button is-primary" href="/interviews/<%=interview.id%>/edit" role="button">Edit this Interview</a>
          </div>
</div>

<article>