<section class="index-index mx-2">
  <div class="button-shift">
    <div class="button my-4 py-2 is-outlined is-rounded" style="background-color: #0c4d70 !important;"><%= link_to "Create New Application", '/companies' %>
    </div>
  </div>
  <div class="apps">
    <%= render partial: "app", locals: {apps:@apps} %>
  </div>
</section>