<section class="index-index mx-2">
  <div class="button-shift">
    <a class="button my-4 py-2 is-outlined is-rounded"
     href="/companies" role="button">Create Application
    </a>
  </div>
  <div class="apps">
    <%= render partial: "app", locals: {apps:@apps} %>
  </div>
</section>