<section class="index-index">
<%= link_to "Create New App", '/apps/new' %>
  <header class="page-header">
    <h1>Your Applications!</h1>
  </header>

  <div class="apps">
    <% @apps.each do |app| %>
      <%= render 'app', app: app%>
    <%end%>
  </div>

</section>