// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-shift {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_container {
  width: 50vw;
  border: 5px solid black;
  padding: 40px;
}
.form_button {
  text-align: center;
}

// .status-icon {
//   // text-align:center;
// }