// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-shift {
  display: flex;
  justify-content: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_container {
  width: 50vw;
  border: 5px solid black;
  padding: 40px;
}
.form_button {
  text-align: center;
}


.fa {
  padding-left: 3.5em;
}

.hide {
  color: white;
}

.navbarcolor{
  color: white !important;
  background-color: #0c4d70 !important;
}

.hero{
  color: white !important;
background-color: #0077B6 !important;
}

.buttoncolor{
  color: white;
  background-color: #CAF0F8 !important;
}

.colortile1{
  color: white;
  background-color: #0096C7 !important;
}

.colortile2{
  color: white;
  background-color: #0096C7 !important;
}

.colortile3{
  color: white;
  background-color: #00B4D8 !important;
}

.colortile4{
  color: white;
  background-color: #00B4D8 !important;
}

.colortile5{
  color: white;
  background-color: #48CAE4 !important;
}

.navbar-item{
  color: white !important;
}

.title{
  color: white !important;
}

.subtitle{
  color: white !important;
}

.button{
  color: rgb(0, 0, 0) !important;
  background-color: #a1b3c9 !important;
}
.button_create{
  background-color: #206ecc !important;
}
.interview-preview {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10 px;
}

.border_int {
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 30px;
}
